.movies-navbar .searchInput{
    background-color: transparent;
    outline: none;
    border:none;
    border-bottom: 2px solid white;
    color:white
}   
.movies-navbar{
    width:24%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 40px;
    padding: 0;
    position:relative;
    left:2rem;
}
.movies-navbar .search i{
    cursor:pointer;
    transform:scale(1);
    margin:0;
    color:white;
    padding: 5px;
}
.movies-navbar .search input{
    transform: translateY(-2px);
    color:white;
    
}
.movies-navbar .search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
    width: 60%;
    height: 35px;
}
.moviesPageNavTag{
    background-color: black;
    position: relative;
}
.moviesPageNavTag ul{
    color:white;
    display: flex;
    width: 50%;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 0 1.3rem;
    position: relative;
 
}
.moviesPageNavTag ul li{
    list-style: none;
    padding: 0;
    margin:0 0 0 0 ;  
}
.moviesPageNavTag ul li a{
    color: white;
    transition: color 0.4s;
}

.moviesPageNavTag ul li a:hover{
    color: orange; 
}

.drop-down-genres{
    display: none;
    width: 30vw;
    height: 50vh;
    background: rgb(0, 0, 0);
    border-radius:10px;
    grid-template-columns: 16px repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: end;
    justify-items: start;
    position: absolute;
    z-index: 3;
    top:101%;
    left:45%;
    box-shadow: 0px 0px 6px orange;
    font-size: .9rem;
}
#genre1{
    grid-column: 1/1;
    grid-row: 1 / span 9;
    visibility: hidden;
}
#genre{
    padding-bottom: 60px;
}
.drop-down-genres:hover{
    display: grid;
}
#genre:hover + .drop-down-genres{
    display: grid;
}
.drop-down-genres * {
    padding:3px;
}

#signedin{
    margin-right: 20px;
}
.settingsButton *{
    font-size: .9rem;
    color:white;
    padding:2px ;
}
.settingsButton *:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:orange;
    
}
.settingsButton .username{
    font-weight: 500;
    margin-top: .1em;
    padding-left: 4px;
    color:white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;
}

.settingsButton .signOutButton{
    border-top: 1px solid rgba(255, 165, 0,0.3);

}
.signOutButton div{
    width: 120%;
    left:-2px;
    top:-2px;
    padding-left:5px;
    height :110%;
    position: relative;
    text-align: start;
    font-weight: 400;
}

.navbar-elements-simplified{
    display: none;
    flex:4;
    justify-content: space-between;
    align-items: center;
}
.navbar-elements-simplified i{
    font-size: 1.2rem;
    color:white;
    align-items: center;
}
.navbar-elements-simplified h1{
    font-size: 2rem;
    margin-left: 2rem;
}
.movies-navbar .search-simplified{
    display: none;
}
.search-box-simplified{
    display: none;
    position: absolute;
    width:100%;
    background-color: red;
    top:100%;
    z-index: 100;
    height: 2rem;
}
.search-simplified i{
    font-size: 1rem;
    color:white;
}
@media screen and (max-width:1100px) {
    .movies-navbar{
        left:1rem;
    }
}

@media screen and (max-width:900px){
    .moviesPageNavTag ul{
        display: none;
    }
    .navbar-elements-simplified{
        display: flex;
    }
    .movies-navbar{
        margin: 0;
    }
    .movies-navbar .search{
        display: none;
    }
    .movies-navbar .search-simplified{
        display: block;
    }
    .search-box-simplified{
        display: flex;
    }
    #signedin{
        margin:0;
    }
}