.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#em {
    height: 9vh;
    width: 33%;
    border:1px solid black;
    border-right: none;
}

#sb{
    width: 14%;
    height: 9vh;
    color: white;
    background-color: #ffa31a;
    border: 1px solid black;
    font-size: 2rem;
}