.btnFacebook { 
    height:40px;  
    min-height: 40px;
    width: 114px;
    border-radius: 4px;
    background: #264791;
    color:white;
    border:0px transparent;  
    text-align: center;
    transform: translate(6px, -1px);

  }
  
  .btnFacebook:hover {
    background: #3b5998;
    opacity: 0.6;
  }

  @media screen and (max-width:520px) {
    .btnFacebook{
      height: 41px;
    }
  }
