html, body, #root, .App{
    height: 100%;
}

*{
    font-family:  'Open Sans', sans-serif;;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.page1::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}
.page1{
    width: 100%;
    height: 100vh;
    background-image: url('../../photos/wp2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} 
.page1-container{
    z-index: 1000;
    position: relative;
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height: 12%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    margin-top: 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-left: 3rem;
} 
nav #signin{
    margin-right: 3rem;
}

.main-content{
    width: 100%;
    height:calc(100% - 12%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parg{
    text-align: center;
    margin-bottom: 1.5em;
}
.parg *{
    color: white;
    font-weight: 800;
    /* text-shadow: 2px 2px black; */
}
.parg h2 ,.parg h3{
    font-size: 3rem;

}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form label{
    color:white;
    font-size: 1.4rem;
    margin-bottom: 1rem;

}
.emptyline{
    height: .5rem;
    width: 100%;
    background-color: rgb(121, 80, 3);
}
.page2{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.page2-content{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-items: start;
}
.text{
    
    grid-row:1 / span 2;
    height: 100%;
    justify-self: start;
    align-self: flex-end;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;


}
.text p{
    color:white;
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 80px;
}
.text div{
    margin-top:60px;
}
.text h2, .text h3{
    color: white;
    font-size: 2.7rem;
    margin-left: 20px;
    font-weight: 600;
    margin-top: 20px;
}
#momento{
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: start;
    right: 10rem;
    align-self: end;
    top:2rem;
    
}
#deadpool{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self:start;
    bottom: 2rem;
}


.section4{
    height: 70%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4-content-container{
    width:70%;
    height:80%;
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section4-content-container .section4-block{
  display: none;

}
#theincredibles{

}
.page3{
    
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
.page3-content input{
    margin-bottom: .7rem;
}
.page3-content p{
    color:white;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1rem;
}
