html, body, #root, .App{
    height: 100%;
}

*{
    font-family:  'Open Sans', sans-serif;;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.page1::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}
.page1{
    width: 100%;
    height: 100vh;
    background-image: url('../../photos/wp2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} 
.page1-container{
    z-index: 1000;
    position: relative;
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height: 12%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    margin-top: 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-left: 3rem;
} 
nav #signin{
    margin-right: 3rem;
}

.main-content{
    width: 100%;
    height:calc(100% - 12%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parg{
    text-align: center;
    margin-bottom: 1.5em;
}
.parg *{
    color: white;
    font-weight: 800;
}
.parg h2 ,.parg h3{
    font-size: 3rem;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form label{
    color:white;
    font-size: 1.4rem;
    margin-bottom: 1rem;

}
.emptyline{
    height: .5rem;
    width: 100%;
    background-color: rgb(121, 80, 3);
}
.page2{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.page2-content{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.page2-content .text{
    flex:.7;
}
.page2-content .page2-blocks{
    flex-basis: 30%;
    height:50%;
    align-self: flex-start;
    margin-top: 1rem;
    right:5%;
    top:7%;
    position: relative;
    z-index: 1;
}
#deadpool{
position: absolute;
z-index: 5;
}
#momento{
position: absolute;
z-index: 4;
top :70%;
left:60%;
}
.page2-content .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
    margin-bottom: 2rem;
}
.page2-content .text h2{
    font-weight: 900;
    font-size: 3rem;
    color:white;
    margin-top:1.4rem;
}


.section4{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}
.section4-content-container{
    width:90%;
    height:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap-reverse;
}
.section4-content-container .section4-content-text{
    text-align: start;
    flex: .8;
    transform: translateY(1rem);

}
.section4-content-container .section4-content-text h2{
 font-weight: 900;
 font-size: 2rem;
 color:white;
}
.section4-content-container .section4-content-text p{
    font-size: 1rem;
    font-weight: 500;
    color:white;
}
.section4-content-container .section4-content-block{
  width: 95%;
  height: 60%;

}

.page3{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page3-content input{
    margin-bottom: .7rem;
}
.page3-content p{
    color:white;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1rem;
}



@media screen and (max-width:530px) {
    .section4{
        height: 80%;
        width: 100%;
        display: flex;
        background-color: #000000;
        align-items: start;
        justify-content: center;
    }
    .page2-content .page2-blocks{
        width: 90%;
        height:80%;
        margin-top: 1rem;
        left:20%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    .section4-content-container .section4-content-text h2{
        font-weight: 900;
        font-size: 2rem;
        color:white;
       }
    .page2-content .text{
        flex:.7;
        text-align: center;
    }
    .page2-content .text p{
        font-size: .7rem;
        font-weight: 500;
        color:white;
    }
    .page2-content .text h2{
        font-weight: 900;
        font-size: 2rem;
        color:white
    }
    .section4-content-container .section4-content-text{
        text-align: center;
        flex: .8;
    }
    .parg h2, .parg h3{
        font-size:1.5rem;
    }
    .page3-content p{
        color:white;
        font-size: .8em;
        text-align: center;
        margin-bottom: 1rem;
    }
  
    .section4-content-container .section4-content-text p{
        font-size: 1rem;
        font-weight: 500;
        color:white;
    }

}
@media screen and (min-width:530px){
    .section4-content-container .section4-content-text{
        text-align: center;
        flex: .8;
    
    }
    .parg h2, .parg h3{
        font-size:1.9rem;
    }
}

@media screen and (min-width:690px){
    .section4-content-container .section4-content-text{
        text-align: center;
        flex: .8;
    
    }
    .parg h2, .parg h3{
        font-size:2.5rem;
    }
    .page3-content p{
        color:white;
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 1rem;
    }
    .section4{
        height: 100%;
        width: 100%;
        display: flex;
        background-color: #000000;
        align-items: center;
        justify-content: center;
    }

    .section4-content-container .section4-content-block{
        width: 600px;
        height: 350px;
    }
    .section4-content-container .section4-content-text h2{
        font-weight: 900;
        font-size: 3rem;
        color:white
    }
    .section4-content-container .section4-content-text p{
        font-size: 1.3rem;
        font-weight: 500;
        color:white;
    }
    
}

@media screen and (max-width:1100px) {
    .page2-content{
        height: 100%;
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .page2-content .page2-blocks{
        min-width: 200px;
        width: 40%;
        height:80%;
        margin-top: 1rem;
        left:20%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    .page2-content .text p{
        font-size: .8rem;
        font-weight: 500;
        color:white;
    }
    #deadpool{
        position: absolute;
        z-index: 5;
    }
    #momento{
    position: absolute;
    z-index: 4;
    top: 55%;
    left:45%;
    }
}