html, body, #root, .App{
    height: 100%;
}

.page1::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}
.page1{
    width: 100%;
    height: 100vh;
    background-image: url('../../photos/wp2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} 
.page1-container{
    z-index: 1000;
    position: relative;
    height: 100%;
    width: 100%;
}

.main-content{
    width: 100%;
    height:calc(100% - 12%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parg{
    text-align: center;
    margin-bottom: 1.5em;
}
.parg *{
    color: white;
    font-weight: 800;
}
.parg h2 ,.parg h3{
    font-size: 3rem;
}


.emptyline{
    height: .5rem;
    width: 100%;
    background-color: rgb(121, 80, 3);
}


.page2-content{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.page2-content .text{
    flex:.7;
}
.page2-content .page2-blocks{
    flex-basis: 30%;
    height:50%;
    align-self: flex-start;
    margin-top: 1rem;
    
}
.page2-content .text p{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
    margin-bottom: 2rem;
}
.page2-content .text h2{
    font-weight: 900;
    font-size: 3rem;
    color:white;
    margin-top:1.4rem;
}




.page3{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page3-content input{
    margin-bottom: .7rem;
}
.page3-content p{
    color:white;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1rem;
}


@media screen and (max-width:530px) {


    .page2{
        height: 80%;
    }
    .page2-content .page2-blocks{
        width: 90%;
        height:80%;
        margin-top: 1rem;
        left:20%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    
    .page2-content .text{
        flex:.7;
        text-align: center;
    }
    .page2-content .text p{
        font-size: .7rem;
        font-weight: 500;
        color:white;
    }
    .page2-content .text h2{
        font-weight: 900;
        font-size: 2rem;
        color:white
    }
     
    .parg h2, .parg h3{
        font-size:1.5rem;
    }
    .page3-content p{
        color:white;
        font-size: .8em;
        text-align: center;
        margin-bottom: 1rem;
    }
   
}
@media screen and (min-width:530px){
    .parg h2, .parg h3{
        font-size:1.9rem;
    }
}

@media screen and (min-width:690px){
    
    .parg h2, .parg h3{
        font-size:2.5rem;
    }
    .page3-content p{
        color:white;
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    
}

@media screen and (max-width:1100px) {
    .page2-content{
        height: 100%;
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .page2-content .page2-blocks{
        min-width: 200px;
        width: 40%;
        height:80%;
        margin-top: 1rem;
        left:20%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    .page2-content .text p{
        font-size: .8rem;
        font-weight: 500;
        color:white;
    }

}


@media screen and (max-width:400px) {
    .page2-content{
        height: 100%;
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .page2-content .page2-blocks{
        min-width: 200px;
        width: 40%;
        height:80%;
        margin-top: 1rem;
        left:13%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    .page2-content .text p{
        font-size: .8rem;
        font-weight: 500;
        color:white;
    }
   
}

@media screen and (max-width:380px) {
    .page2-content{
        height: 100%;
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .page2-content .page2-blocks{
        min-width: 200px;
        width: 40%;
        height:80%;
        margin-top: 1rem;
        left:13%;
        top:-6%;
        position: relative;
        z-index: 1;
    }
    .page2-content .text p{
        font-size: .8rem;
        font-weight: 500;
        color:white;
    }

}


