
.infoContainer *{
    color:white;
}



.infoContainer{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
}
.MoviePoster{
    width: 350px;
    height: 470px;
}
.textContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:82%;
}

.movieTitle{
    font-weight: 900;
    font-size: 2.5rem;
    text-shadow: 0px 3px 3px black
}

.movieTitle2{
    display: none;
    text-shadow: 0px 3px 3px black
}


.btnsContainer{
    display: flex;
    align-items: end;
    position: relative;
    top:-2rem;
    gap:2%;
}
.btnsContainer *{
    border: 0;
    outline: none;
}
.exBtns{
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
 
}
.exBtns:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.favBtn{
    border-radius: 5px;
    text-align: center;

}
.favBtn i{
    color:white;
    transition: color .5s;
    padding: .35rem .35rem .25rem .35rem;
    font-size: 1.4rem;
}
.trailerBtn{
    border-radius: 5px;
    padding: .3rem .35rem .2rem .35rem;
    font-weight: 600;
}
.trailerBtn2{
    border-radius: 5px;
    padding: .3rem .35rem .2rem .35rem;
    font-weight: 600;
    display: none;
}
.shareBtn{
    border-radius: 5px;
}
.shareBtn i {
    padding: .35rem .35rem .25rem .35rem;
    font-size: 1.4rem;
}
.plotContainer{
    position: relative;
    top:-.7rem;
    
}
.plotContainer p {
    width: 60%;
}
.detailedText{
gap: 10%;
margin-top: 0;
display: flex;
}
.detailedText .detailedTextFp{
    width: 10%;
}
.imdbIcon{
    min-width: 25px;
    margin-right: 7px;
}
.ratingsDiv{
    background-color: transparent;
    width: 10%;
    display: flex;
    gap:5%;
}
.ratingsDiv span{
    font-weight: 600;
    font-size: 1rem;
}



/* ----------------------------- */
.trailerContainer{
    width: 100%;
    width: 95%;
    margin: auto;

}
.sectionTitle{
    color:white;
    font-weight:100;
    display: inline-block;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, rgba(249, 105, 14,1),rgba(0,0,0,0)) 0 0 100% 0;
    padding-bottom : 9px;
}
.movieTrailer{
    display: block;
    margin: 0 auto 1rem auto;
}
.secondPageCont{
    width:95%;
    margin: auto;
    min-height: 100%;
}
.secondPageCont .similarContainer{
    position: relative;
    top:10px;
    width: 100%;
    height: 50vh;
    margin: 0 0 2.4rem 0;
    overflow: hidden;
}

.secondPageCont .similarContainer .similarMovies{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    overflow: scroll;
    box-sizing: content-box;
    padding: 0 17px 17px 0;
    width: 100%;
    scroll-behavior: smooth;
}

.movieTrailerContainer{
    position: relative;
    width:66.6%;
    height: 60vh;
    margin: auto;
}
.movieTrailer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.GenreContainer2{
    display: none;
}
@media screen and (max-width:1075px){
    .MoviePoster{
        width: 300px;
        height: 410px;
        
    }
    .btnsContainer{
        top:-1.3rem;
    }
}

@media screen and (max-width:900px){
   
    .MoviePoster{
        width: 300px;
        height: 410px;
        
    }
    .textContainer{
        width:60%;
    }

    
    .movieTitle{
        font-weight: 600;
        font-size: 2rem;
    }

   

}

@media screen and (max-width:800px){
   
    .MoviePoster{
        width: 270px;
    height: 380px;
    margin-bottom: .6rem;
    }

    .infoContainer{
        width: 95%;
        margin: auto;
        height: 100%;
        display: flex;
        gap:30px;
        align-items: center;
        justify-content: space-between;
    }
       
    .movieTitle{
        font-weight: 600;
        font-size: 1.8rem;
    }

    .plotContainer{
        display: none;
    }
    .textContainer{
        width: 65%;
        height:58%;
        margin: 0 0 6.6rem 0;
    }
    

}

@media screen and (max-width:700px){

    .textContainer{
        height: 60%;
        margin: 0 0 6rem 0;
    }
    .btnsContainer{
        top:-1rem;
    }
}

@media screen and (max-width:685px){

    .MoviePoster{
        margin-bottom: 1.1rem;
    }

    .textContainer{
        height: 63%;
        margin: 0 0 5.7rem 0;
    }
    .btnsContainer{
        top:-.8rem;
    }
    .detailedText{
        gap: 27%;
    }
}

@media screen and (max-width:577px){
    .movieTitle{
        font-size: 1.5rem;
    }
    .MoviePoster{
        width: 50vw;
        height: auto;
        margin:0;
    }
    .infoContainer{
        gap:2%;
        align-items: start;
        padding-top: 3rem;
        
    }
    
    .textContainer{
        width: 55%;
        padding: 0 0 0 1rem;
    }

}

@media screen and (max-width:445px){
    .movieTitle{
        display: none;
        
    }
    .movieTitle2{
        display: block;
        font-size: 1.2rem;
        margin-bottom: .1rem;
    }
    .MoviePoster{
        width: 50vw;
        height: auto;
        margin:0;
    }
    .infoContainer{
        padding-top: 2rem;
    }
    .textContainer{
        margin: 4.1rem 0 0 0;
        height:35%;
    }
    .trailerBtn{
        display: none;
    }
    .trailerBtn2{
        display: block;
    }
    .GenreContainer{
        display: none;
    }
    .GenreContainer2{
        display: block;
        margin-bottom: .1rem;
    }
    .RatingsContainer{
        flex-direction: column;
        margin:.1rem 0 0 0;
        gap:20px;
    }
    .DirecterRatingCont{
        display: none;
        
    }
    .detailedTextFp{
        display: none;
    }
}
